#game div {
  border: 1px solid black;
  width: 15%;
  height: 200px;
  margin: 10px;
  display: inline-block;
  background-color: whitesmoke;
}

#background {
  background-color: rgb(24, 33, 33);
}

h1, h2, h3 {
  color:white;
}
